<div class="row">
	<div class="col-md-4">
            <h1>NOTE-KEEPING</h1>
	 <%= image_tag "note2.jpg" ,class:"book"%>
    </div>
	<div class="col-md-4">
	    <div class="note-info">
          
             <b><h3>Create a New Account</h3></b></br>
  			<strong><%= link_to "Log In", new_user_session_path ,class: "btn-custom"%></strong>
  			<strong><%= link_to "Sign UP", new_user_registration_path ,class: "btn-custom"%></strong>
  		 
  		 </div>
    </div>
</div>